/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'Castoro';
  font-style: normal;
  font-weight: 400;
  src: url(./castoro-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: url(./google-sans-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(./noto-sans-regular.ttf) format('truetype');
}
